{
    "root": true,
    "env": {
        "browser": true,
        "node": true,
        "es2021": true,
        "vue/setup-compiler-macros": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "@vue/eslint-config-typescript/recommended",
        "@vue/eslint-config-prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2021
    }
}